#easelCan {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#viewport {
    display: none;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

#loginScreen {
    height: 800px;
    width: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#waitScreen {
    height: 800px;
    width: 800px;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

#spectatorWaitScreen {
    height: 800px;
    width: 800px;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

#nicknameInput {
    background-color: black;
    border-style: none none solid none;
    border-color: white;
    color: white;
    text-align: center;
}
