#easelCan {
    display: none;
}

#loginScreen {
    height: 800px;
    width: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#waitScreen {
    height: 800px;
    width: 800px;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

#nicknameInput {
    background-color: black;
    border-style: none none solid none;
    border-color: white;
    color: white;
    text-align: center;
}
